
    <!--Begin navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <!--Navbar container begin-->
        <div class = "container fluid">
        <a class="navbar-brand" href="/">Carl's Home Repair and Remodeling</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">About Us
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/interior-services" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Services Offered
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/interior-services">Interior</a>
                        <a class="dropdown-item" href="/exterior-services">Exterior</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/special-projects">Special Projects</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/reviews" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Reviews
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/add-review">Add a review</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/reviews">View latest reviews</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/contact-carl">Contact
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

            </ul>
        </div>
        </div>
    </nav>
    <!--End nav bar -->

<!--Begin container -->
<div class="container fluid">
    <br>
    <div class="row">
        <div class="col-12 col-sm-6">
            <h2 class="col">Contact Carl's Home Repair and Remodeling | Carl Winget</h2>
            <h3 class="col">Carl Winget Home Repair, Remodeling, and Handyman Assistance</h3>
            <p class="col">
                <br> 0000 Address St.
                <br> City, ST 00000-000 US
                <br>
            </p>
            <p class="col">
                <br> <b>Call Carl Directly:</b>
                <br> 214-000-0000
                <br>
            </p>
        </div>

    <div class = "col-12 col-sm-6">
        <iframe src="https://www.google.com/maps/d/embed?mid=1GZEo26FpXg89Rlq_fyygD61aB-49WvSi" width="480" height="500"></iframe>
    </div>
        <div id = "contact-container" class = "container">
        <!--Begin contact form-->
        <div id="contact-form" class="col-12 col-sm-10">
            <h3>Contact Carl</h3>
            <br>
            <p>We will return your inquiry within (insert time here)</p>
            <br>
            <form name="contact" action="send_form_email.php" method="post">
                <div class="row">
                    <div class="form-group col">
                        <label for="first_name">First name</label>
                        <input type="text" class="form-control" maxlength="50" name="first_name" placeholder="">
                    </div>
                    <div class="form-group col">
                        <label for="last_name">Last name</label>
                        <input type="text" class="form-control" maxlength="50" name="last_name" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="telephone">Phone number</label>
                        <input type="tell" class="form-control" maxlength="30" name="telephone" placeholder="">
                    </div>
                    <br>
                    <div class="form-group col">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" maxlength="80" id="email-input" name="email" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="message">Message</label>
                        <textarea id="contact-body" type="text" maxlength="1000" class="form-control" name="message" rows="6"></textarea>
                    </div>
                </div>
                <input class="btn btn-primary float-right" type="submit" value="Submit">
            </form>
        </div>

    </div>
    </div>
    <!--End contact-->

</div>
<!--End container-->

<!--Begin footer-->
<div class="footer">
    <div class="row">
        <div class="col lg 12">
            <a href="https://github.com/henrywinget" target="_blank">
                <img id="github" src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Github-128.png" alt="GitHub Icon">
            </a>
            <a href="https://www.linkedin.com/in/henry-winget-343240122/" target="_blank">
                <img id="linkedin" src="https://github.com/henrywinget/Bootstrap-Portfolio/blob/master/images/linkedin-icon.png?raw=true"
                    alt="LinkedIn Icon">
            </a>
            <a href="https://stackoverflow.com/users/8904181/henry-winget" target="_blank">
                <img id="stack" src="https://github.com/henrywinget/Bootstrap-Portfolio/blob/master/images/if_overflow_334695.png?raw=true"
                    alt="StackOverflow Icon">
            </a>
            <p>@Henry Winget Copyright 2018</p>
        </div>
    </div>
</div>
<!--End footer-->