<!--Begin container -->
<div class="container fluid">
  <!--Begin navbar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/">Carl's Home Repair and Remodeling</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about-us">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Services Offered
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/interior-services">Interior</a>
            <a class="dropdown-item active" href="/exterior-services">Exterior <span class="sr-only">(current)</span></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/special-projects">Special Projects</a>
          </div>
        </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/reviews" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Reviews
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/add-review">Add a review</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/reviews">View latest reviews</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-carl">Contact</a>
        </li>

      </ul>
    </div>
  </nav>
  <!--End nav bar -->

    <div class="row">
    <div id = "exterior-pictures" class="col-10 col-sm-8"></div>
    <br>


      <!--Begin contact form-->
      <div id="contact-form" class="col-10 col-sm-4">
        <h2 class="col">Contact Carl</h2>
        <br>
        <form>
          <div class="row">
            <div class="col">
              <label for="first-name">First name</label>
              <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
              <label for="last-name">Last name</label>
              <input type="text" class="form-control" placeholder="Last name">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="last-name">Phone number</label>
              <input type="text" class="form-control" placeholder="(XXX)-XXX-XXXX">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group col">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="email-input" placeholder="name@example.com">
            </div>
          </div>
        </form>
      </div>

    </div>
    <!--End container-->
</div>
<!--End contact-->

<!--Begin footer-->
<div class="footer">
  <div class="row">
    <div class="col lg 12">
      <a href="https://github.com/henrywinget" target="_blank">
        <img id="github" src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Github-128.png" alt="GitHub Icon">
      </a>
      <a href="https://www.linkedin.com/in/henry-winget-343240122/" target="_blank">
        <img id="linkedin" src="https://github.com/henrywinget/Bootstrap-Portfolio/blob/master/images/linkedin-icon.png?raw=true"
          alt="LinkedIn Icon">
      </a>
      <a href="https://stackoverflow.com/users/8904181/henry-winget" target="_blank">
        <img id="stack" src="https://github.com/henrywinget/Bootstrap-Portfolio/blob/master/images/if_overflow_334695.png?raw=true"
          alt="StackOverflow Icon">
      </a>
      <p>@Henry Winget Copyright 2018</p>
    </div>
  </div>
</div>
<!--End footer-->