<!--Begin header-->

<div class="background-wood">

  <!--Begin header container -->

  <div class="container fluid">

    <div class="row top-title">
      <div class="col-sm-12 col-lg-4">
        <a href='/'>
          <img id="cw-logo" src="./images/logo-no-saw.png" alt='CW Logo'>
        </a>
      </div>
      <div class="row col-sm-0 col-lg-8">
        <div class="col-sm-12">
          <h2 id="number">
            <i class="fas fa-mobile"></i> 214-724-7347</h3>
        </div>
        <div class="col-sm-12">
          <h2 id="call-now">Call or text for a free estimate!</h2>
        </div>
      </div>
    </div>

  </div>

  <!--End header container-->

</div>
<!--End header-->


<!--Begin navbar-->
<nav class="navbar navbar-expand-lg sticky-top">

  <!--Begin navbar container -->
  <div class="container fluid">
{{!--     
    <a class="navbar-brand" href="/">CW Home Repair and Remodeling</a> --}}
    {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> --}}

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item first">
          <a class="nav-link" href="/about-us">ABOUT
          </a>
        </li>
        <li class="nav-item dropdown second">
          <a class="nav-link dropdown-toggle" href="/interior-services" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            SERVICES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/interior-services">Interior</a>
            <a class="dropdown-item" href="/exterior-services">Exterior</a>
            <a class="dropdown-item" href="/special-projects">Special Projects</a>
          </div>
        </li>
        <li class="nav-item dropdown second">
          <a class="nav-link dropdown-toggle" href="/reviews" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            REVIEWS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/add-review">Review</a>
            <a class="dropdown-item" href="/reviews">View latest reviews</a>
          </div>
        </li>
        <li class="nav-item third">
          <a class="nav-link" href="/contact-carl">CONTACT</a>
        </li>

      </ul>
    </div>
  </div>
  </div>
</nav>
<!--End nav bar -->

<!--Begin carousel-->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="./images/drillin.png" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h2>CW Home Repair and Remodeling</h2>
        <p>Serving the north Dallas area since 2005</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./images/paintin.png" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h2>Variety of projects</h2>
        <p>Offering high-end craftmanship and commitment to detail</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./images/workin.png" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h2>Free Estimates</h2>
        <p>Available for all home repair, remodeling, or handyman services</p>
      </div>
    </div>
  </div>
</div>

<!--End carousel-->
<br>
<!--Begin container -->
<div class="container fluid">

  <div class="row">
    <div id="short-about" class="col-lg-7 col-sm-12 background-content">
      {{!--
      <h2>
        <strong>Lorem ipsum</strong>
      </h2>
      <br> --}}
      <p>
        <strong>Living in a home is a huge investment.</strong>
      </p>
      <br>
      <p>
        In order to make sure your home is being taken care of, it's imperative to find a business where doing things the
        <i>right</i> way comes before doing things the
        fast way.
        <br>
        <br>
        I offer free estimates on all projects and do not work by the hour, which means I am focused on the results and determined to give you a painless, exciting experience in 
        your home improvement. 
        <br>
        <br>
         My name is Carl Winget and I take pride in southern values and a commitment to creating the best result for the best price. 
         I am available to you for all things home repair, remodeling, and handyman services.</p>
      <br>
    </div>

    <div class="col-lg-1">

    </div>
    <!--Begin contact form-->
    <div id="contact-form" class="col-lg-4 col-sm-11 background-content">
      <p>
        <strong>Contact Carl</strong>
      </p>
      <br>
      <form>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Phone number">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group col">
            <input type="email" class="form-control" id="email-input" placeholder="Email address">
          </div>
        </div>
      </form>
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>

  </div>
  <!--End container-->
</div>
<!--End contact-->

<!--Begin footer-->
<div class="footer">
  <div class="container fluid">
    <div class="row">
      <div class="col-lg-4 footer-left">
              <br>
        {{!-- <h5 class="footer-headers">NAVIGATE</h5> --}}
        <div class="row">
          <a class="col-lg-12" href="/"><p>Home</p></a>
        </div>
        <div class="row">
          <a class="col-lg-12" href="/about-us"><p>About</p></a>
        </div>
        <div class="row">
          <a class="col-lg-12" href="/interior-services"><p>Services</p></a>
        </div>
        <div class="row">
          <a class="col-lg-12" href="/reviews"><p>Review</p></a>
        </div>
        <div class="row">
          <a class="col-lg-12" href="/contact-carl"><p>Contact</p></a>
        </div>
      </div>
      <div class="col-lg-4 footer-center">
        {{!-- <h5 class="footer-headers">CONTACT</h5> --}}
        <br>
        <div class="footer-text">
          <p>214-724-7347</p>
          <p>cwhomeremodeling@gmail.com</p>
          <p>Plano, TX 75023</p>
          <p>United States</p>
        </div>

      </div>
      <div class="col-lg-4 footer-left">
        {{!-- <h5 class="footer-headers">LEGAL</h5> --}}
        <br>
        <div class="footer-text">
          <p>Copyright @ 2018</p>
          <p>All rights reserved</p>
          <p>Website by Henry Winget</p>
        </div>
      </div>
    </div>
    <div class="row cw-icons">
      <div class="col-sm-4">
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="../images/nextdoor.png" alt="NextDoor CW" class="social-icons">
        </a>
        <a href="https://www.facebook.com/pg/CW-Home-Repair-and-Remodeling-1522908157854435/" target="_blank" rel="noopener noreferrer">
          <img src="../images/facebook.png" alt="Facebook CW" class="social-icons">
        </a>
        <a href="mailto:ckhtwinget@yahoo.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/mail.png" alt="Email CW" class="social-icons">
        </a>
      </div>
    </div>
  </div>
</div>

<!--End footer-->