<!--Begin navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <!--Begin navbar container -->
  <div class="container fluid">
    <a class="navbar-brand" href="/">Carl's Home Repair and Remodeling</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about-us">About Us
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/interior-services" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Services Offered
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/interior-services">Interior</a>
            <a class="dropdown-item" href="/exterior-services">Exterior</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/special-projects">Special Projects</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/reviews" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Reviews
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/add-review">Add a review</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item active" href="/reviews">View latest reviews
              <span class="sr-only">(current)</span>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-carl">Contact</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<!--End nav bar -->
<!--Begin container -->
<div class="container fluid">

  <br>

  <div class="row">
    <div id="short-about" class="col-10 col-sm-8">
      <h2 class="col">Lorem ipsum</h2>
      <br>
      <p>
        <img class="d-inline-block" src="http://via.placeholder.com/150x150" alt="Carl-Winget">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nibh, faucibus et tristique at, faucibus quis dui.
        Etiam mollis, sapien eu hendrerit sodales, tellus augue pharetra massa, quis auctor eros enim eu tortor. Sed egestas
        dui porta, gravida diam hendrerit, facilisis turpis. Nullam tempor facilisis luctus. Suspendisse potenti. Duis lorem
        nisl, faucibus nec erat ac, congue aliquet libero. Quisque venenatis quam eget efficitur tempor. Nam suscipit orci
        purus, ac consequat nibh condimentum sit amet. Duis vehicula leo eget tellus sagittis tincidunt tempus quis lorem.
        Curabitur rutrum lectus non libero congue, sollicitudin rhoncus nibh vestibulum. Mauris lacinia ligula ut lobortis
        iaculis. Mauris ipsum nulla, gravida ut nisi eu, dapibus porttitor massa. Etiam eu metus a leo consequat rhoncus
        sed elementum mauris.</p>
      <br>
      <h2 class="col">Ipsum erat donec</h2>
      <p>Sed auctor, dolor vel venenatis mollis, tellus mauris pharetra purus, in eleifend sem lorem in lorem. Phasellus hendrerit
        nec erat vehicula condimentum. Nunc eu sem at nunc facilisis rhoncus nec et nibh. Morbi rutrum magna varius, rutrum
        nisl et, feugiat mi. Donec egestas sapien eu orci lacinia imperdiet.
        <img class="d-inline-block float-right" src="http://via.placeholder.com/150x150" alt="some-image"> Duis in mi ut sem convallis venenatis. Duis mattis magna quis tempus efficitur. Duis eu hendrerit odio. Cras a elit
        sed lectus convallis dictum. Sed finibus nulla in dapibus tempor. Nullam iaculis mi ut odio euismod, sit amet sollicitudin
        mi lacinia.</p>
    </div>

    <!--Begin contact form-->
    <div id="contact-form" class="col-10 col-sm-4">
      <h2 class="col">Contact Carl</h2>
      <br>
      <form>
        <div class="row">
          <div class="col">
            <label for="first-name">First name</label>
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <label for="last-name">Last name</label>
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label for="last-name">Phone number</label>
            <input type="text" class="form-control" placeholder="(XXX)-XXX-XXXX">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group col">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="name@example.com">
          </div>
        </div>
      </form>
    </div>

  </div>
  <!--End container-->
</div>
<!--End contact-->

<!--Begin footer-->
<div class="footer">
  <div class="row">
    <div class="col lg 12">
      <a href="https://github.com/henrywinget" target="_blank">
        <img id="github" src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Github-128.png" alt="GitHub Icon">
      </a>
      <a href="https://www.linkedin.com/in/henry-winget-343240122/" target="_blank">
        <img id="linkedin" src="https://github.com/henrywinget/Bootstrap-Portfolio/blob/master/images/linkedin-icon.png?raw=true"
          alt="LinkedIn Icon">
      </a>
      <a href="https://stackoverflow.com/users/8904181/henry-winget" target="_blank">
        <img id="stack" src="https://github.com/henrywinget/Bootstrap-Portfolio/blob/master/images/if_overflow_334695.png?raw=true"
          alt="StackOverflow Icon">
      </a>
      <p>@Henry Winget Copyright 2018</p>
    </div>
  </div>
</div>
<!--End footer-->