<!--Begin header-->

<div class="background-wood">

  <!--Begin header container -->

  <div class="container fluid">

    <div class="row top-title">
      <div class="col-sm-12 col-lg-4">
        <a href='/'>
          <img id="cw-logo" src="./images/logo-no-saw.png" alt='CW Logo'>
        </a>
      </div>
      <div class="row col-sm-0 col-lg-8">
        <div class="col-sm-12">
          <h2 id="number">
            <i class="fas fa-mobile"></i> 214-724-7347</h3>
        </div>
        <div class="col-sm-12">
          <h2 id="call-now">Call or text for a free estimate!</h2>
        </div>
      </div>
    </div>

  </div>

  <!--End header container-->

</div>
<!--End header-->


<!--Begin navbar-->
<nav class="navbar navbar-expand-lg sticky-top">

  <!--Begin navbar container -->
  <div class="container fluid">
    {{!--
    <a class="navbar-brand" href="/">CW Home Repair and Remodeling</a> --}}
    {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> --}}

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item first">
          <a class="nav-link" href="/about-us">ABOUT
          </a>
        </li>
        <li class="nav-item dropdown second">
          <a class="nav-link dropdown-toggle" href="/interior-services" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            SERVICES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/interior-services">Interior</a>
            <a class="dropdown-item" href="/exterior-services">Exterior</a>
            <a class="dropdown-item" href="/special-projects">Special Projects</a>
          </div>
        </li>
        <li class="nav-item dropdown second">
          <a class="nav-link dropdown-toggle" href="/reviews" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            REVIEWS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/add-review">Review</a>
            <a class="dropdown-item" href="/reviews">View latest reviews</a>
          </div>
        </li>
        <li class="nav-item third">
          <a class="nav-link" href="/contact-carl">CONTACT</a>
        </li>

      </ul>
    </div>
  </div>
  </div>
</nav>
<!--End nav bar -->


<!--Begin container -->
<div class="container fluid">

  <br>

  <div class="row">
    <div id="short-about" class="col-10 col-sm-8">
      <h2 class="col">Lorem ipsum</h2>
      <br>
      <p>
        <img class="d-inline-block" src="http://via.placeholder.com/150x150" alt="Carl-Winget">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante nibh, faucibus et tristique at, faucibus quis dui.
        Etiam mollis, sapien eu hendrerit sodales, tellus augue pharetra massa, quis auctor eros enim eu tortor. Sed egestas
        dui porta, gravida diam hendrerit, facilisis turpis. Nullam tempor facilisis luctus. Suspendisse potenti. Duis lorem
        nisl, faucibus nec erat ac, congue aliquet libero. Quisque venenatis quam eget efficitur tempor. Nam suscipit orci
        purus, ac consequat nibh condimentum sit amet. Duis vehicula leo eget tellus sagittis tincidunt tempus quis lorem.
        Curabitur rutrum lectus non libero congue, sollicitudin rhoncus nibh vestibulum. Mauris lacinia ligula ut lobortis
        iaculis. Mauris ipsum nulla, gravida ut nisi eu, dapibus porttitor massa. Etiam eu metus a leo consequat rhoncus
        sed elementum mauris.</p>
      <br>
      <h2 class="col">Ipsum erat donec</h2>
      <p>Sed auctor, dolor vel venenatis mollis, tellus mauris pharetra purus, in eleifend sem lorem in lorem. Phasellus hendrerit
        nec erat vehicula condimentum. Nunc eu sem at nunc facilisis rhoncus nec et nibh. Morbi rutrum magna varius, rutrum
        nisl et, feugiat mi. Donec egestas sapien eu orci lacinia imperdiet.
        <img class="d-inline-block float-right" src="http://via.placeholder.com/150x150" alt="some-image"> Duis in mi ut sem convallis venenatis. Duis mattis magna quis tempus efficitur. Duis eu hendrerit odio. Cras a elit
        sed lectus convallis dictum. Sed finibus nulla in dapibus tempor. Nullam iaculis mi ut odio euismod, sit amet sollicitudin
        mi lacinia.</p>
    </div>

    <!--Begin contact form-->
    <div id="contact-form" class="col-10 col-sm-4">
      <h2 class="col">Contact Carl</h2>
      <br>
      <form>
        <div class="row">
          <div class="col">
            <label for="first-name">First name</label>
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <label for="last-name">Last name</label>
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label for="last-name">Phone number</label>
            <input type="text" class="form-control" placeholder="(XXX)-XXX-XXXX">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group col">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="name@example.com">
          </div>
        </div>
      </form>
    </div>

  </div>
  <!--End container-->
</div>
<!--End contact-->

<!--Begin footer-->
<div class="footer">
  <div class="container fluid">
    <div class="row">
      <div class="col-lg-4 footer-left">
              <br>
        {{!-- <h5 class="footer-headers">NAVIGATE</h5> --}}
        <div class="row">
          <a class="col-lg-12" href="/"><p>Home</p></a>
        </div>
        <div class="row">
          <a class="col-lg-12" href="/about-us"><p>About</p></a>
        </div>
        <div class="row">
          <a class="col-lg-12" href="/interior-services"><p>Services</p></a>
        </div>
        <div class="row">
          <a class="col-lg-12" href="/reviews"><p>Review</p></a>
        </div>
        <div class="row">
          <a class="col-lg-12" href="/contact-carl"><p>Contact</p></a>
        </div>
      </div>
      <div class="col-lg-4 footer-center">
        {{!-- <h5 class="footer-headers">CONTACT</h5> --}}
        <br>
        <div class="footer-text">
          <p>214-724-7347</p>
          <p>cwhomeremodeling@gmail.com</p>
          <p>Plano, TX 75023</p>
          <p>United States</p>
        </div>

      </div>
      <div class="col-lg-4 footer-left">
        {{!-- <h5 class="footer-headers">LEGAL</h5> --}}
        <br>
        <div class="footer-text">
          <p>Copyright @ 2018</p>
          <p>All rights reserved</p>
          <p>Website by Henry Winget</p>
        </div>
      </div>
    </div>
    <div class="row cw-icons">
      <div class="col-sm-4">
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="../images/nextdoor.png" alt="NextDoor CW" class="social-icons">
        </a>
        <a href="https://www.facebook.com/pg/CW-Home-Repair-and-Remodeling-1522908157854435/" target="_blank" rel="noopener noreferrer">
          <img src="../images/facebook.png" alt="Facebook CW" class="social-icons">
        </a>
        <a href="mailto:ckhtwinget@yahoo.com" target="_blank" rel="noopener noreferrer">
          <img src="../images/mail.png" alt="Email CW" class="social-icons">
        </a>
      </div>
    </div>
  </div>
</div>

<!--End footer-->