.footer{
    position: relative;
    bottom: 0px;
    /* border-bottom: 2px groove yellow; */
    text-align: center;
    margin-top: 50px;
    padding-top: 80px;
    padding-bottom: 20px;
}

form{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#github, #linkedin, #stack {
    z-index: 10;
    height: 30px;
    margin: 10px 2px;
}

#interior-images-here{
    float: left;
    margin: 5px;
    color: yellow;
    text-align: center;
    margin-bottom: auto;
}

#exterior-images-here{
    float: left;
    margin: 5px;
    color: yellow;
    text-align: center;
    margin-bottom: auto;

}

#exterior-images-here.img {
        min-width: 240px;
    min-height: 320px;
    max-width: 240px;
    max-height: 320px;
}